<div id="meal">
  <div *ngIf="showForm">
    <h2>Let's Plan your Meals:</h2>
      <label for="dateChoice">This plan is for:</label>
      <input type="date" #newDate>
    <h3>To plan your meals, let us know some ingredients you want our options to have:</h3>
      <input #newIngredient1 placeholder="Ingredient1">
      <input #newIngredient2 placeholder="Ingredient2">
      <input #newIngredient3 placeholder="Ingredient3">
      <input #newIngredient4 placeholder="Ingredient4">
      <input #newIngredient5 placeholder="Ingredient4">
      <button (click)='getWeeklyMenu(newIngredient1.value, newIngredient2.value, newIngredient3.value, newIngredient4.value, newIngredient5.value)'>Generate Random Menu</button>
      <button (click)='getDayOptions()'>Refresh</button>
    <div *ngIf="recipeOptions">
      <select #newBreakfast (change)='onChange($event.target.value)'>
        <option value="0">{{recipeOptions[0].name}}</option>
        <option value="1">{{recipeOptions[1].name}}</option>
        <option value="2">{{recipeOptions[2].name}}</option>
      </select>

      <select #newLunch (change)='onChange($event.target.value)'>
        <option value="3">{{recipeOptions[3].name}}</option>
        <option value="4">{{recipeOptions[4].name}}</option>
        <option value="5">{{recipeOptions[5].name}}</option>
      </select>

      <select #newDinner (change)='onChange($event.target.value)'>
        <option value="6">{{recipeOptions[6].name}}</option>
        <option value="7">{{recipeOptions[7].name}}</option>
        <option value="8">{{recipeOptions[8].name}}</option>
      </select>
    </div>
    <button class="done"(click)="newDay(newDate.value)" (click)="toggleForm()">I like this plan!</button>
  </div>
  </div>

  <div *ngIf="!showForm">
    <button (click)="toggleForm()">Plan Another Day</button>
  </div>

    <div *ngIf="daysArray[0]">
      <button (click)="updateDay(newDate.value)">Update a Day</button>
    </div>
    <app-display-meal [currentUser]="currentUser" [daysArray]="daysArray"></app-display-meal>
    <app-meal-log [daysArray]="daysArray"></app-meal-log>
