@import "../abstracts"

.plan
  @extend %flex
  flex-wrap: nowrap
  justify-content: space-around
  flex-direction: column
  @include recipeCards-bp
    flex-direction: row
    max-width: 1500px
    margin: 20px auto
  .food-card
    background-color: white
    padding: 15px
    margin: 10px 0
    border: 1px solid #89eab5
    box-shadow: 2px 2px 5px lightgrey
    a
      margin: 10px
    ul
      @extend %flex
      flex-wrap: wrap
      // flex-direction: column
      align-items: center
      align-content: center
      li
        // padding-top: 15px
        align-self: flex-start
        height: 125px
        width: 100px
        background-repeat: no-repeat
        background-position: center
        // text:
        // font-weight: bold
        font-size: 25px
        color: #262a28
        text-shadow: 1px 1px 1px #17ab93




// change flex direction in bigger screens


.food-photo
  // border: 1px solid purple
  overflow: hidden
  // width: 100%
  min-height: 250px
  margin: 10px 0
  @include medium-bp
    margin: 0 auto
    max-width: 500px
  @include recipeCards-bp
    height: 350px
    img
      height: inherit
      width: 110%
  img
    margin-top: -20px
    width: 100%



//for bigger screens flex-direction: row
