<h4>display-meal component.........Starts here</h4>

<div *ngIf="daysArray[0]">
  <div *ngIf="daysArray[0]">
    <p>{{daysArray[0].totalCalories}}</p>
  </div>

  <div *ngIf="currentUser">
    <p>{{currentUser.name}}</p>
  </div>

  <h2>This is your meal plan: {{currentUser.goal}} weight</h2>
  <div class="plan">
    <div class="">
      <h3>{{daysArray[0].breakfast.name}}</h3>
      <div class="food-photo">
        <img src='{{daysArray[0].breakfast.image}}' alt="">
      </div>
      <h4>Nutrition Facts</h4>
      <ul>
        <li>{{daysArray[0].breakfast.calories}}</li>
        <li>{{daysArray[0].breakfast.carbs}}</li>
        <li>{{daysArray[0].breakfast.fat}}</li>
        <li>{{daysArray[0].breakfast.protein}}</li>
      </ul>
      <a href="{{daysArray[0].breakfast.link}}">Open Recipe</a>
    </div>
    <div class="">
      <h3>{{daysArray[0].lunch.name}}</h3>
      <div class="food-photo">
        <img src='{{daysArray[0].lunch.image}}' alt="">
      </div>
      <h4>Nutrition Facts</h4>
      <ul>
        <li>{{daysArray[0].lunch.calories}}</li>
        <li>{{daysArray[0].lunch.carbs}}</li>
        <li>{{daysArray[0].lunch.fat}}</li>
        <li>{{daysArray[0].lunch.protein}}</li>
      </ul>
      <a href="{{daysArray[0].lunch.link}}">Open Recipe</a>
    </div>
    <div class="">
      <h3>{{daysArray[0].dinner.name}}</h3>
      <div class="food-photo">
        <img src='{{daysArray[0].dinner.image}}' alt="">
      </div>
      <h4>Nutrition Facts</h4>
      <ul>
        <li>{{daysArray[0].dinner.calories}}</li>
        <li>{{daysArray[0].dinner.carbs}}</li>
        <li>{{daysArray[0].dinner.fat}}</li>
        <li>{{daysArray[0].dinner.protein}}</li>
      </ul>
      <a href="{{daysArray[0].dinner.link}}">Open Recipe</a>
    </div>
  </div>

</div>
