<form>
  <div class="form-group">
    <label for="search">Search by food:</label>
    <input #search>
  </div>
  <button (click)='getRecipes(search.value)'>Get Recipes</button>
  <!-- <button (click)='triggerSaveRecipes(search.value)'>Save Recipes</button> -->
  <app-user></app-user>
</form>

<!-- <div *ngIf=“tempRecipes.length>0”>
	<div *ngFor=“let tempRecipe of tempRecipes”>
		<div class="recipeImage">
			<img src=“{{tempRecipe.image}}>
		</div>
		<h2>{{tempRecipe.name}}></h2>
    <ul>
      <li>Calories: {{tempRecipe.calories}}</li>
      <li>Fat: {{tempRecipe.fat}}</li>
      <li>Carbohydrates: {{tempRecipe.carbs}}</li>
      <li>Protein: {{tempRecipe.protein}}</li>
    </ul>
	</div>
</div> -->
