<!-- from demo https://github.com/valor-software/ng2-charts/blob/development/demo/src/app/components/charts/bar-chart-demo.html -->
<section>
  <button (click)="update()">Update Graph</button>
  <div>
    <div style="display: block">
      <canvas baseChart
      [colors]="barChartColors"
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
    </div>
    <button (click)="randomize()">Update</button>
  </div>  
</section>
<!-- <button (click)="randomize()">Update</button> -->

<!-- // donut.html <base-chart class="chart" // ... [colors]="doughnutChartColors" // ... </base-chart> -->
