@import "../abstracts"

nav
  background-color: $bg-color

  @extend %flex
  justify-content: space-between
  a
    color: white
li
  text-align: right

section
  padding: 20px
  background-color: $bg-color
  text-align: center

  button
    @extend %save-button
    margin-bottom: 20px

.status-image, .weather
  text-align: center
  // width: 400px
  margin: 0 auto
  overflow: hidden
  height: 200px

.weather
  height: 90px
  margin: 20px

.status-image
  @include medium-bp
    height: 300px
    // background-color: red

.logo
  text-align: right
  img
    width: 160px
    padding: 0 10px
