
<nav>
  <a>X</a>
  <div class="logo">
    <img src="src/logo.png" alt="">
  </div>

</nav>

<div class="status-image">

  <img src="src/climb.png" alt="">
</div>

<section>
  <h3>Welcome {{currentUser.name}}</h3>

  <app-weather></app-weather>

  <div class="current-plan">
    <p>Your goal weight: {{currentUser.goalWeight}} lbs</p>
    <p>Lets accomplish this by: {{goalDate}}</p>
    <p>Recommended Daily Caloric Intake: {{totalCalories}}</p>
  </div>

  <app-meal-form [currentUser]="currentUser"></app-meal-form>
</section>
