<p>
  <button (click)='getWeeklyMenu()'>Weekly menu</button>
</p>
<p>
  <button (click)='getDayOptions()'>Generate Options</button>
</p>
<app-recipe-form></app-recipe-form>
<div class="menu">
  <div class="menuItem" *ngFor="">
    <div class="menuImage">
      <img src="" alt="">
    </div>
    <h2></h2>
  </div>
</div>

<div *ngIf="recipeOptions">
  <select #newBreakfast>
    <option value="{{recipeOptions[0].name}}">{{recipeOptions[0].name}}</option>
    <option value="{{recipeOptions[1].name}}">{{recipeOptions[1].name}}</option>
    <option value="{{recipeOptions[2].name}}">{{recipeOptions[2].name}}</option>
  </select>

  <select #newLunch>
    <option value="{{recipeOptions[3].name}}">{{recipeOptions[3].name}}</option>
    <option value="{{recipeOptions[4].name}}">{{recipeOptions[4].name}}</option>
    <option value="{{recipeOptions[5].name}}">{{recipeOptions[5].name}}</option>
  </select>

  <select #newDinner>
    <option value="{{recipeOptions[6].name}}">{{recipeOptions[6].name}}</option>
    <option value="{{recipeOptions[7].name}}">{{recipeOptions[7].name}}</option>
    <option value="{{recipeOptions[8].name}}">{{recipeOptions[8].name}}</option>
  </select>
</div>
